
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.buildpath
.target
.texlipse
*~
.directory
.Trash-*
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!/.idea/codeStyleSettings.xml
!/.idea/copyright/profiles_settings.xml
